div(layout='column', layout-padding='')
  party-add-button
  div(flex='')
    h2.md-display-1 List of the parties:
  div(flex='', layout='row', layout-padding='')
    md-input-container
      label Search
      input(ng-model='partiesList.searchText')
    parties-sort(on-change='partiesList.sortChanged(sort)', property='name', order='1')
  div(layout='column', layout-gt-sm='row')
    div(flex='50')
      md-card(dir-paginate='party in partiesList.parties | itemsPerPage: partiesList.perPage', total-items='partiesList.partiesCount')
        md-card-title
          md-card-title-text
            span.md-headline(ui-sref='partyDetails({ partyId: party._id })')
              | {{party.name}}
              party-remove(party='party')
            span.md-subhead {{party.description}}
          md-card-title-media(ng-if='party.images')
            .md-media-lg.card-media
              party-image(images='party.images')
          md-card-content
          party-rsvps-list(rsvps='party.rsvps')
          party-unanswered(party='party', ng-if='!party.public')
          div(ng-if='party.public')
            | Everyone is invited
          party-creator(party='party')
        md-card-actions
          party-rsvp(party='party', ng-show='partiesList.isLoggedIn')
          div(ng-hide='partiesList.isLoggedIn')
            i Sign in to RSVP for this party.
      dir-pagination-controls(on-page-change='partiesList.pageChanged(newPageNumber)')
    div(flex='50')
      parties-map(parties='partiesList.parties')
