db:
  ip: '218.244.158.177'
  port: 27200
  username: 'huangyu'
  password: 'huangyu'
  db: 'HRReport'
dajie:
  url: "http://so.dajie.com/job/ajax/search/filter"
  pageIndex: 'page'
  parameters:
    jobsearch: 0
    ajax: 1
    keyword: ''
    page: 1
    order: 0
    from: 'user'
    salary: ''
    recruitType: ''
    city: 330200
    positionIndustry: ''
    positionFunction: ''
    degree: ''
    quality: ''
    experience: ''
    _CSRFToken: ''
  requestOptions:
    url: 'http://so.dajie.com/job/ajax/search/filter?jobsearch=0&pagereferer=blank&ajax=1&keyword=&page=1&order=0&from=user&salary=&recruitType=&city=330200&positionIndustry=&positionFunction=&degree=&quality=&experience=&_CSRFToken='
    headers:
      Cookie: 'SO_COOKIE=4a54Fz3tO/H8lNq2kckyoT3Nl9yguSx81vDdokPm/+l2x0FX/dKihHoqPgGyLPIT17/zpgVuMlOe3Ibl8NR7lCtDzy7iZuBoO3xp; DJ_UVID=MTQ3ODY3MjI5Nzc5MzYzMzQ0; __login_tips=1; DJ_RF=empty; DJ_EU=http%3A%2F%2Fso.dajie.com%2Fjob%2Fsearch; USER_ACTION="request^A-^A-^Ajobdetail:^A-"'
      Referer: 'http://so.dajie.com/job/search'
      Host: 'so.dajie.com'
      'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36'
