.componentTreeToolbar
  .md-toolbar-tools
    md-icon
      margin-right 10px
      color #888
    md-input-container
      md-icon
        margin-right 10px
        color #888
      font-size 16px
      padding 0 20px
      border-bottom:none
      margin 18px 0 5px 0
      .md-errors-spacer
        display none
.componentTree
  padding 20px
  ol
    padding-left 10px
    border-left 1px dotted #999
    li
      cursor pointer
      padding-left 10px
  .treeItem
    vertical-align: middle
    padding 10px
    border 1px solid #3F51B5
    font-size 14px
    font-weight normal
    margin-bottom 6px
    color white
    background-color #5C6BC0
    md-icon
      color white
      margin-right 10px
  .addtreeItem
    background-color #009688
    border 1px solid #00897B
.componentTree
  ol
    li
      div.folderItem
        background-color: #283593
        border: 1px solid #1A237E
