_id: 1
name: ''
relatedCompany: [
  {
    companyID: 1
    companyName: ''
    companyNameRelated: true
    companyInfoRelated: true


  }
]
relatedJobTitle: [
  {
    jobID: 1
    jobName: ""

  }
]
relatedSalary: [
  {

  }
]
