h4.md-headline
  | Users to invite:
md-list
  md-list-item(ng-repeat='user in partyUninvited.users | uninvitedFilter:partyUninvited.party', ng-click='partyUninvited.invite(user)')
    p {{ user | displayNameFilter }}
  md-list-item(ng-if='(partyUninvited.users | uninvitedFilter:partyUninvited.party).length <= 0')
    | Everyone are already invited.
