md-content.builderAppAdd
  vertical-align: center
  md-toolbar
    h4
      color #888
      font-size:16px
      padding 0 24px
      md-icon
        margin-right 10px
        color #888
  form.addAppForm
      padding 0 24px
      .hint
        position: absolute;
        left: 36px
        right: auto;
        top: 36px;
        color #999
        font-size 14px
        line-height: 14px;
      .addAppConfirmButton
        margin-left 30px
