md-content.app(flex layout-align="center start" layout="column")
  md-toolbar(md-colors="{background:'grey-900'}")
    h2 APP
    h4.version 所有APP
    
md-content.api(flex layout-align="center start" layout="column")
  md-toolbar(md-colors="{background:'grey-800'}")
    h2 API
    h4.version 所有API
      
md-content.config(flex layout-align="center start" layout="column")
  md-toolbar(md-colors="{background:'grey-900'}")
    h2 Configs
    h4.version 所有配置
