builder-app-list.appList
  md-toolbar.addButton
    padding 5px
    md-icon
      margin-right 10px
  .md-subheader
    .md-subheader-inner
      padding-top 5px
      padding-bottom 5px
  .searchToolbar
    font-size 16px
    padding 0 20px
    border-bottom:none
    md-input-container
      margin 18px 0 5px 0
      md-icon
        color #666
    .md-errors-spacer
      display none
  md-list-item
    md-icon
      color:white
    .md-list-item-text
      h4
      p
        color:white
