#builder(ng-cloak)
  md-toolbar
    .md-toolbar-tools
      md-button.md-icon-button(aria-label="Settings")
        md-icon.material-icons(md-font-library="material-icons") menu
      h2
        a(ui-sref="builder") App Builder
      span(flex)
        
      span(flex)
      md-button.md-icon-button
        md-icon.material-icons more_vert
  md-content
    ui-view(name='builder')
