collectionDictionary:
    industry:
        collectionName: 'industry'
        title: "行业"
        intro: "每个行业有多个岗位，有多家公司。每个行业有所属的领域。"
        scope: "人力资源中岗位的行业分类"
        columns:
            id: "51job中使用的id"
            name: "行业名称"
            type: "所属的领域"
    domain:
        collectionName: 'domain'
        title: "领域"
        intro: "每个领域包含多个行业"
        scope: "人力资源中岗位的分类"
        columns:
            name: "领域名称"
            industryList: "包含的领域的列表"

industry:
  '01':'计算机软件'
  '37':'计算机硬件'
  '38':'计算机服务(系统、数据服务、维修)'
  '31':'通信/电信/网络设备'
  '39':'通信/电信运营、增值服务'
  '32':'互联网/电子商务'
  '40':'网络游戏'
  '02':'电子技术/半导体/集成电路'
  '35':'仪器仪表/工业自动化'
  '41':'会计/审计'
  '03':'金融/投资/证券'
  '42':'银行'
  '43':'保险'
  '62':'信托/担保/拍卖/典当'
  '04':'贸易/进出口'
  '22':'批发/零售'
  '05':'快速消费品(食品、饮料、化妆品)'
  '06':'服装/纺织/皮革'
  '44':'家具/家电/玩具/礼品'
  '60':'奢侈品/收藏品/工艺品/珠宝'
  '45':'办公用品及设备'
  '14':'机械/设备/重工'
  '33':'汽车及零配件'
  '08':'制药/生物工程'
  '46':'医疗/护理/卫生'
  '47':'医疗设备/器械'
  '12':'广告'
  '48':'公关/市场推广/会展'
  '49':'影视/媒体/艺术/文化传播'
  '13':'文字媒体/出版'
  '15':'印刷/包装/造纸'
  '26':'房地产'
  '09':'建筑/建材/工程'
  '50':'家居/室内设计/装潢'
  '51':'物业管理/商业中心'
  '34':'中介服务'
  '63':'租赁服务'
  '07':'专业服务(咨询、人力资源、财会)'
  '59':'外包服务'
  '52':'检测，认证'
  '18':'法律'
  '23':'教育/培训/院校'
  '24':'学术/科研'
  '11':'餐饮业'
  '53':'酒店/旅游'
  '17':'娱乐/休闲/体育'
  '54':'美容/保健'
  '27':'生活服务'
  '21':'交通/运输/物流'
  '55':'航天/航空'
  '19':'石油/化工/矿产/地质'
  '16':'采掘业/冶炼'
  '36':'电气/电力/水利'
  '61':'新能源'
  '56':'原材料和加工'
  '28':'政府/公共事业'
  '57':'非盈利机构'
  '20':'环保'
  '29':'农/林/牧/渔'
  '58':'多元化业务集团公司'
domain: [
  {
  'title': {'c': '计算机 | 互联网 | 通信 | 电子', 'e': 'Computer, Internet, Telecom, Electronics'} ,
  'data': ['01','37','38','31','39','32','40','02','35']
  }
  {
  'title': {'c': '会计/金融/银行/保险', 'e': 'Accounting, Finance, Banking, Insurance'} ,
  'data': ['41','03','42','43','62']
  }
  {
  'title': {'c': '贸易/消费/制造/营运', 'e': 'Trade, Sales, Manufacturing, Operations'} ,
  'data': ['04','22','05','06','44','60','45','14','33']
  }
  {
  'title': {'c': '制药/医疗', 'e': 'Pharmaceuticals, Healthcare'} ,
  'data': ['08','46','47']
  }
  {
  'title': {'c': '广告/媒体', 'e': 'Advertising, Media Related'} ,
  'data': ['12','48','49','13','15']
  }
  {
  'title': {'c': '房地产/建筑', 'e': 'Real Estates Related'} ,
  'data': ['26','09','50','51']
  }
  {
  'title': {'c': '专业服务/教育/培训', 'e': 'Professional Services, Education, Training'} ,
  'data': ['34','07','59','52','18','23','24','63']
  }
  {
  'title': {'c': '服务业', 'e': 'Customer Services'} ,
  'data': ['11','53','17','54','27']
  }
  {
  'title': {'c': '物流/运输', 'e': 'Logistics, Transportation'} ,
  'data': ['21','55']
  }
  {
  'title': {'c': '能源/原材料', 'e': 'Utilities and Raw Materials Related'} ,
  'data': ['19','16','36','61','56']
  }
  {
  'title': {'c': '政府/非赢利机构/其他', 'e': 'Government, Non Profit, Others'} ,
  'data': ['28','57','20','29','58']
  }
]
