md-content.appContent(flex layout-fill layout='row' layout-align='center center')
  builder-app-list.appList(md-content layout-fill flex='25' layout='column')
  .appComponents(layout-fill flex='75' ui-view='appcomponents')
