.searchToolbar
  font-size 16px
  padding 0 20px
  border-bottom 1px solid rgb(40, 53, 147)
  md-input-container
    margin 18px 0 0 0
    md-icon
      color #666
  .md-errors-spacer
    display none
