md-content.appContent(flex layout-fill layout='row')
  md-content(flex='30' layout='column' layout-fill)
    builder-app-list.appList
  md-content.appComponents(flex='70' layout-fill ui-view='appcomponents' layout='column')
