.rsvp-sum
  .rsvp-amount
    .amount
      | {{ (partyRsvpsList.rsvps | filter:{rsvp:'yes'}).length || 0 }}
    .rsvp-title
      | YES
  .rsvp-amount
    .amount
      | {{ (partyRsvpsList.rsvps | filter:{rsvp:'maybe'}).length || 0 }}
    .rsvp-title
      | MAYBE
  .rsvp-amount
    .amount
      | {{ (partyRsvpsList.rsvps | filter:{rsvp:'no'}).length || 0 }}
    .rsvp-title
      | NO
