form
  .form-group
    label
      | Party Name:
    input.form-control(type='text', ng-model='partyAdd.party.name')
  .form-group
    label
      | Description:
    input.form-control(type='text', ng-model='partyAdd.party.description')
  .checkbox
    label
      input(type='checkbox', ng-model='partyAdd.party.public')
      |  Public Party?
  button.btn.btn-success(ng-click='partyAdd.submit()') Add Party!
