div(layout='column', layout-padding='')
  md-input-container
    label
      | Party Name:
    input(type='text', ng-model='partyAdd.party.name')
  md-input-container
    label
      | Description:
    input(type='text', ng-model='partyAdd.party.description')
  div(flex='')
    md-checkbox(ng-model='partyAdd.party.public', aria-label='Public Party?')
      | Public Party?
  div(flex='')
    md-button.md-raised(ng-click='partyAdd.submit()') Add Party!
