div(layout='column', layout-padding='')
  div(layout='column', layout-gt-sm='row', layout-padding='')
    form(flex='50', layout='column')
      md-input-container
        label Party name
        input(ng-model='partyDetails.party.name', ng-disabled='!partyDetails.isOwner')
      md-input-container
        label Description
        input(ng-model='partyDetails.party.description', ng-disabled='!partyDetails.isOwner')
      div
        md-checkbox(ng-model='partyDetails.party.public', ng-disabled='!partyDetails.isOwner', aria-label='Public Party?')
          | Public Party?
      div
        md-button.md-primary.md-raised(ng-click='partyDetails.save()') Save
    party-map(flex='50', location='partyDetails.party.location')
  party-uninvited(flex='', party='partyDetails.party', ng-show='partyDetails.canInvite()')
